@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
/* ::-webkit-scrollbar-track {
    /* background: #ECE3CA
    ; */
/* } */ 
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */
/* For Webkit-based browsers (Chrome, Safari and Opera) */
/* ::-webkit-scrollbar {
    display: auto;
} */
